@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Branco: #FDFCFC;
    --Vermelho: #D83527;
    --CinzaEscuro: #343A40;
    --CinzaClaro: #F3F3F3;
    --CinzaMedio: #7C7C7D;
    --Preto: #030301;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    width: 100vh;
}

.apresentation {
    padding: 0.5rem 6.5rem;
    align-self: stretch;
    background-color: var(--Branco);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.apresentation>.texts {
    width: 28.1875rem;
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.625rem;
}

.apresentation>.texts>h3 {
    font-family: "Poppins";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
}

.apresentation>.texts>h3>span {
    color: var(--Vermelho);
}

.apresentation>.texts>.anuncie {
    color: var(--CinzaEscuro);
    font-family: "Montserrat";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.apresentation>.texts>.about {
    color: var(--CinzaEscuro);
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
}

.apresentation>.texts>.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.625rem;
    width: 100%;
}

.apresentation>.texts>.buttons>.buttonSecundary {
    display: flex;
    padding: 0.90625rem 0.5rem;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 0.5rem;
    background: var(--CinzaEscuro);
    color: var(--Branco);
    border: 0;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
}

.apresentation>.texts>.buttons>.buttonSecundary:hover {
    background: var(--Preto);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonPrimary {
    display: flex;
    padding: 0.90625rem 0.5rem;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 0.5rem;
    background: var(--Vermelho);
    color: var(--Branco);
    border: 0;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    width: 35.5rem;
}

.apresentation>.sectioncarousel {
    padding: 4rem 0rem;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 1rem;
    max-width: 717px;
}

.apresentation>.sectioncarousel>.carousel-inner>.carousel-item>img {
    width: 100%;
}

.particular {
    display: flex;
    padding: 3.125rem 6.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    align-self: stretch;
    background: var(--CinzaClaro);
}

.sectionTitle {
    color: var(--CinzaEscuro);
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}

.sectionTitle>span {
    color: var(--Vermelho);
}

.particular>.cards {
    display: flex;
    width: 73rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.particular>.cards>.cardItem {
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 1rem;
    background: var(--Branco);
}

.particular>.cards>.cardItem>.cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.particular>.cards>.cardItem>.cardHeader>div {
    width: 3.625rem;
    height: 3.625rem;
}

.particular>.cards>.cardItem>.cardHeader>div>img {
    width: 100%;
    height: 100%;
}


.particular>.cards>.cardItem>.cardHeader>.cardTitle {
    color: var(--Preto);
    text-align: center;
    font-family: "Poppins";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.particular>.cards>.cardItem>.cardTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.particular>.cards>.cardItem>.cardTexts>p {
    color: var(--CinzaEscuro);
    text-align: center;
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}

.particular>.cards>.cardItem>.cardTexts>.cardTextsSupport {
    font-size: 0.625rem;
}

.particular>h6 {
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}

.particular>h6>span {
    color: var(--Vermelho);
}

.steps {
    display: flex;
    padding: 3.125rem 6.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    background: var(--Branco);
}

.steps>.cards {
    display: flex;
    height: 13.28813rem;
    align-items: center;
    gap: 2rem;
}

.steps>.cards>.cardItem {
    display: flex;
    padding: 1.875rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 1rem;
    background: var(--CinzaClaro);
    position: relative;
    height: 100%;
    gap: 1rem;
}

.steps>.cards>.cardItem>.cardNumber {
    display: flex;
    width: 2.125rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    border-radius: 0.75rem;
    border: 1px solid var(--CinzaMedio);
}

.steps>.cards>.cardItem>.cardNumber>p {
    font-family: Montserrat;
    font-size: 0.75rem;
    color: var(--CinzaEscuro);
}

.steps>.cards>.cardItem>.cardImage>img {
    width: 3.625rem;
    height: 3.50419rem;
}

.steps>.cards>.cardItem>p {
    font-weight: 700;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    color: var(--Preto);
}

.previewFaq {
    display: flex;
    padding: 2rem 6.5rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--CinzaClaro);
}

.previewFaq>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.previewFaq>div>img {
    width: 6.25rem;
    height: 6.25rem;
}

.previewFaq>div>p {
    color: var(--CinzaEscuro);
    text-align: center;
    font-family: Poppins;
    font-size: 0.84769rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 5.93rem;
}

.previewFaq>div>p>span {
    font-weight: 700;
    text-decoration-line: underline;
}

.lojista {
    display: flex;
    padding: 3.125rem 6.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;
    background-color: var(--Branco);
}

.lojista>.cards {
    display: flex;
    height: 12rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
}

.lojista>.cards>.cardItem {
    display: flex;
    width: 18.75rem;
    padding: 1.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    background: var(--CinzaClaro);
}

.lojista>.cards>.cardItem>.cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.lojista>.cards>.cardItem>.cardHeader>div {
    width: 3.625rem;
    height: 3.625rem;
}

.lojista>.cards>.cardItem>.cardHeader>div>img {
    width: 3.625rem;
    height: 3.625rem;
}

.lojista>.cards>.cardItem>.cardHeader>.cardTitle {
    color: var(--Preto);
    text-align: center;
    font-family: Poppins;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.lojista>.cards>.cardItem>.cardTexts>p {
    color: var(--CinzaEscuro);
    text-align: center;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.05rem;
}

.packages {
    display: flex;
    padding: 3.125rem 6.5rem;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
    align-self: stretch;
    background-color: var(--CinzaClaro);
}

.packages>.cards {
    display: flex;
    max-width: 73rem;
    align-items: flex-start;
    gap: 2rem;
}

.packages>.cards>.cardItem {
    display: flex;
    width: 26.9375rem;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 1rem;
    background-color: var(--Branco);
}

.packages>.cards>.cardItem>.cardHeader {
    display: flex;
    padding-bottom: 0.625rem;
    flex-direction: column;
    align-items: center;
    gap: 0.875rem;
    align-self: stretch;
    border-bottom: 1px solid var(--Vermelho);
}

.packages>.cards>.cardItem>.cardHeader>.name {
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--Vermelho);
}

.packages>.cards>.cardItem>.cardHeader>.value {
    color: var(--Preto);
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.packages>.cards>.cardItem>.cardBody {
    display: flex;
    padding: 1.5rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.packages>.cards>.cardItem>.cardBody>.option {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.packages>.cards>.cardItem>.cardBody>.option>img {
    width: 1.5rem;
    height: 1.5rem;
}

.packages>.cards>.cardItem>.cardBody>.option>p {
    color: var(--Preto);
    text-align: left;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.packages>.cards>.cardItem>.cardBody>.option>p>span {
    color: var(--Vermelho);
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.packages>.cards>.cardItem>button {
    width: 14.44575rem;
    padding: 0.84975rem;
    flex: 0;
}

.anuncios {
    display: flex;
    padding: 3.125rem 6.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;
    background-color: var(--Branco);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.anuncios>.cards {
    display: flex;
    width: 77rem;
    align-items: center;
    gap: 2rem;
}

.anuncios>.cards>.cardItem {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1875rem;
    flex: 1 0 0;
    border-radius: 1rem;
    background: var(--CinzaClaro);
}

.anuncios>.cards>.cardItem>.cardHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.anuncios>.cards>.cardItem>.cardHeader>img {
    width: 3rem;
}

.anuncios>.cards>.cardItem>img {
    height: 15.67581rem;
    align-self: stretch;
    border-radius: 0.5rem;
}

.anuncios>.cards>.cardItem>.data {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.anuncios>.cards>.cardItem>.data>div {
    display: flex;
    padding: 0rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-right: 1px solid var(--Preto);
    border-left: 1px solid var(--Preto);
}

.about {
    display: flex;
    padding: 3.125rem 6.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    align-self: stretch;
    background-color: var(--CinzaClaro);
}

.about>.cards {
    display: flex;
    width: 73rem;
    height: 14.6875rem;
    max-width: 73rem;
    min-height: 14.6875rem;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.about>.cards>.cardItem {
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 1rem;
    background: var(--Branco);
    height: 100%;
}

.about>.cards>.cardItem>.cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.about>.cards>.cardItem>.cardHeader>div {
    width: 3.625rem;
    height: 3.625rem;
}

.about>.cards>.cardItem>.cardHeader>div>img {
    width: 100%;
    height: 100%;
}


.about>.cards>.cardItem>.cardHeader>.cardTitle {
    color: var(--Preto);
    text-align: center;
    font-family: "Poppins";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about>.cards>.cardItem>.cardTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.about>.cards>.cardItem>.cardTexts>p {
    color: var(--CinzaEscuro);
    text-align: center;
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}

@media (max-width: 600px) {
    .apresentation {
        padding: 1rem;
    }

    .apresentation>.carousel {
        order: -1;
    }
}